<div class="list-group list-group-flush">
  <a class="list-group-item list-group-item-action bg-light" [routerLink]="['/tech']">
    <i class="fa fa-arrow-left col-1" aria-hidden="true"></i>
    <span class="col-10">Return</span>
  </a>
</div>
<div class="card-header">
  <h6 class="mb-0">{{tech}}</h6>
  <small>{{companyService.companies.length}} companies</small>
</div>
<div class="card-body p-0">
  <div class="list-group list-group-flush">
    <a *ngFor="let company of companyService.companies" class="list-group-item list-group-item-action" [routerLink]="['/tech',tech,company.id]">
      <i class="text-{{company?.sponsorship || 'dark'}} col-1 fa" [ngClass]="{'fa-building-o': !company?.sponsorship, 'fa-trophy': company?.sponsorship }"  aria-hidden="true"></i>
      <span class="col-10">{{company.name}}</span>
    </a>
  </div>
</div>
