<div class="card">
  <!--<img class="card-img-top" src="..." alt="Card image cap">-->
  <div class="card-header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-2 .d-xl">
          <img src="./assets/hackregina.png" style="height: 60px" alt="">
        </div>
        <div class="col-10 col-lg-12 col-xl-10">
          <h4 class="card-title col-12">HackRegina</h4>
          <p class="card-text col-12">Regina Tech Map </p>
        </div>
      </div>
    </div>
  </div>
  <div class="card-block">
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
