<div class="card-header">
  <div class="row">
    <div class="col-12">
      <strong>Filter By</strong>
    </div>
  </div>
</div>

<ul class="list-group list-group-flush">
  <li class="list-group-item list-group-item-action" [routerLink]="['/tech']">
    <div class="row">
      <div class="col-1">
        <i class="fa fa-code" aria-hidden="true"></i>
      </div>
      <div class="col-10">
        Technologies
      </div>
    </div>
  </li>
  <li class="list-group-item list-group-item-action" [routerLink]="['/companies']">
    <div class="row">
      <div class="col-1">
        <i class="fa fa-building-o" aria-hidden="true"></i>
      </div>
      <div class="col-10">
        Companies
      </div>
    </div>
  </li>
</ul>
