<div class="list-group list-group-flush">
  <a class="list-group-item list-group-item-action bg-light" [routerLink]="['/']">
    <i class="fa fa-arrow-left col-1" aria-hidden="true"></i>
    <span class="col-10">Return</span>
  </a>
</div>
<div class="card-header">
  <h6 class="mb-0">Technologies</h6>
  <small>{{companyService.companies.length}} companies</small>
</div>
<div class="card-body p-0">
  <div class="list-group list-group-flush">
    <a *ngFor="let tech of techs" class="list-group-item list-group-item-action" [routerLink]="['/tech', tech]">
      <i class="fa fa-code col-1" aria-hidden="true"></i>
      <span class="col-10">{{tech}}</span>
    </a>
  </div>
</div>
