@import "~variables.scss";

.progress {
  height: 4px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;

  .progress-bar {
    background-color: $brand-primary;
  }
}

.progress-thick {
  height: 10px;
}
