/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/scss/bootstrap.scss';

$fa-font-path: "../node_modules/font-awesome/fonts";
@import "~font-awesome/scss/font-awesome.scss";

$sponsor-platinum: #8ebfa8;
$sponsor-gold: #daa520;
$sponsor-silver: #808080;
$sponsor-bronze: #cd7f32;

html, body {
  width: 100%;
  height: 100%;
}

.row {
  width: 100%;
}

.card-header {
  background-color: white;
}

.text-platinum {
  color: $sponsor-platinum !important
}

.text-gold {
  color: $sponsor-gold !important
}

.text-silver {
  color: $sponsor-silver !important
}

.text-bronze {
  color: $sponsor-bronze !important
}
